@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;

}


#narutaru{
    color: #be1313
}