.textElementDoOrder {
  display: inline;
  position: absolute;
  font-size: 5vh;
  cursor: default;
  color: #414394;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
  text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
}

.textElementDoOrderNoHover {
  display: inline;
  position: absolute;
  font-size: 5vh;
  cursor: default;
  color: #8284e0;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
  text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
}


.textElementDoOrder:hover {
  font-size: 8vh;
  color: #8284e0;

}

.dropdownAddress {
  position: absolute;
  display: inline;
  margin: 170vh 0vh 0vh 0vh;
  padding: 0vh 0vh 0vh 186.1vh;
}

.dropButtonAddress {
  background-color: #284f96;
  color: #588ae7;
  font-family: 'Josefin Sans', sans-serif;
  padding: 5vh;
  cursor: pointer;
  font-size: 5vh;
  border: 2px solid #2980B9;
  border-radius: 5%;
  margin: 0vh 0vh 100vh -120vh;
  transition: color 0.3s, background-color 0.5s;

}

.dropButtonAddress:hover {
  background-color: #588ae7;
  border: 2px solid #3498DB;
  color: #284f96;
}

.dropdownAddressContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  max-width: 50.2vh;
  margin: 5vh 0vh 0vh -5vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownAddressContent button {
  color: #588ae7;
  margin: 0vh 0vh 0vh 0vh;
  padding: 0vh 0vh 0vh 0vh;
  width: 77vh;
  text-align: center;
  max-width: 77vh;
  display: block;
  font-size: 50px;
  cursor: pointer;
  background-color: #284f96;
  font-family: 'Josefin Sans', sans-serif;
  transition: color 0.3s, background-color 0.5s;
}

.dropdownAddressContent button:hover {
  color: #284f96;
  background-color: #588ae7;
}

.showBannerAddress {
  display: block;
}

.selectPayMethod {
  display: inline;
  position: absolute;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding: 5vh 15vh;
  background-color: #285e2d;
  color: #45b24e;
  cursor: pointer;
  border: 2px solid #1b3f1e;
  border-radius: 5%;
  transition: color 0.3s, background-color 0.5s;

}

.selectPayMethod:hover {
  background-color: #45b24e;
  border: 2px solid #2f7835;
  color: #285e2d;
}


#selectPaypal {
  background-color: #003087;
  color: #009cde;
  border: 2px solid #021c4b;
  padding: 2vh 12vh;

}

#selectPaypal:hover {
  background-color: #009cde;
  border: 2px solid #0176a9;
  color: #003087;
}

#selectCash {
  background-color: #285e2d;
  color: #45b24e;
  border: 2px solid #1b3f1e;
  padding: 2vh 12vh;

}

#selectCash:hover {
  background-color: #45b24e;
  border: 2px solid #2f7835;
  color: #285e2d;
}

#cancelButton {
  background-color: #742929;
  color: #c43b3b;
  border: 2px solid #511c1c;
  padding: 2vh 12vh;

}

#cancelButton:hover {
  background-color: #c43b3b;
  border: 2px solid #7a2727;
  color: #742929;
}





.popUp {
  display: inline;
  position: absolute;
  background-color: #414394;
  border: 2px solid #202144;
  border-radius: 20%;
  z-index: 1000
}

.containerConfirmationPopUp {
  display: inline;
  position: absolute;
  border: 6px solid #000000;
  padding: 7vh 10vh 10vh 10vh;
  border-radius: 5%;
  background-color: #414394;
  z-index: 2000;
}

.titleConfirmationPopUp {
  font-size: 5vh;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
  color: #9e9ffe;
}


.actionButtonsConfirmationPopUp {
  font-size: 5vh;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
  border-radius: 5%;
  padding: 2vh;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}