.productContainerManager {
    position: absolute;
    width: 100vh;
    height: 6vh;
    background-color: #284f96;
    border: 5px solid #1d3767;
    padding: 3vh 0vh 0vh 0vh;
    border-radius: 10%;
    font-family: 'Josefin Sans', sans-serif;
    transition: width 1.2s, height 1.2s, margin 1s, color 0.5s, background-color 0.7s, border 0.7s;
    font-size: 5vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    color: #588ae7;
}


.productSelectedText {
    color: #3f62a3;
    transition: color 0.5s;
    margin: 5vh 0vh 0vh 0vh;
}


.productSelectedText:hover {
    color: #5c93fa;
}


.productSelectedInput {
    width: 60vh;
    height: 6vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    padding: 1vh 0vh 1vh 0vh;
    border-radius: 3.5%;
    background-color: #588ae7;
    color: #29529e;
    margin: 5vh 0vh 0vh 20vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    transition: color 0.5s, background-color 0.7s, border 0.7s;
}

.productSelectedInput::-webkit-input-placeholder {
    color: #29529e
}

.cancelateIndividualPropietyButton {
    width: 50vh;
    height: 4vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
    border-radius: 7%;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    background-color: #742929;
    color: #c43b3b;
    margin: 4vh 0vh 0vh 0vh;
    border: 2px solid #511c1c;
    transition: color 0.5s, background-color 0.7s, border 0.7s, opacity 0.5s;
}

.cancelateIndividualPropietyButton:hover {
    background-color: #c43b3b;
    border: 2px solid #702323;
    color: #9d4545;
}

.productSelectedCPreviewButtonImage {
    background-color: #1e7a74;
    color: #33bcb3;
    border: 2px solid #124b47;
}

.productSelectedCPreviewButtonImage:hover {
    background-color: #289e96;
    border: 2px solid #399d96;
    color: #25968e;
}




.productSelectedElement {
    cursor: pointer;
    text-align: center;

}


.productSelectedImage {
    display: inline-block;
    margin: 5vh 0vh 0vh 0vh;
    width: 65vh;
    height: 40vh;
    border-radius: 10%;
    border: 1vh solid transparent;
    transition: border 0.5s;
}

.productSelectedImage:hover {
    border: 1vh solid #588ae7;
}

.productSelectedButtons{
    width: 90vh;
    height: 8vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    border-radius: 7%;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    background-color: #742929;
    color: #c43b3b;
    margin: 6vh 0vh 0vh 0vh;
    border: 2px solid #511c1c;
    transition: color 0.5s, background-color 0.7s, border 0.7s;
}

#productSelectedConfirmButton{
    background-color: #285e2d;
    border: 2px solid #1b5a22;
    color: #45b24e;
}

#productSelectedCancelateButton{
    background-color: #742929;
    border: 2px solid #7a2727;
    color: #c43b3b;
}

#productSelectedDeleteButton{
    background-color: #8b5212;
    border: 2px solid #67410b;
    color: #d2a73c;
}

#productSelectedConfirmButton:hover{
    background-color: #45b24e;
    border: 2px solid #2f7835;
    color: #285e2d;
}

#productSelectedCancelateButton:hover{
    background-color: #c43b3b;
    border: 2px solid #7a2727;
    color: #742929;
}

#productSelectedDeleteButton:hover{
    background-color: #d2a73c;
    border: 2px solid #67410b;
    color: #a26117;
}

.productsButtons{
    width: 100vh;
    height: 8vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vh;
    border-radius: 7%;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    background-color: #742929;
    color: #c43b3b;
    margin: 6vh 0vh 0vh 0vh;
    border: 2px solid #511c1c;
    transition: color 0.5s, background-color 0.7s, border 0.7s;
}


#productsNewProductButton{
    background-color: #1e7a74;
    color: #33bcb3;
    border: 2px solid #124b47;
}

#productsConfirmButton{
    background-color: #285e2d;
    border: 2px solid #1b5a22;
    color: #45b24e;

}

#productsCancelateButton{
    background-color: #742929;
    border: 2px solid #7a2727;
    color: #c43b3b;
}

#productsNewProductButton:hover{
    background-color: #289e96;
    border: 2px solid #399d96;
    color: #25968e;
}

#productsConfirmButton:hover{
    background-color: #45b24e;
    border: 2px solid #2f7835;
    color: #285e2d;
}

#productsCancelateButton:hover{
    background-color: #c43b3b;
    border: 2px solid #7a2727;
    color: #742929;
}