@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* 
font-family: 'Josefin Sans', sans-serif; 
*/
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('../../imgs/background-page.png');
    background-size:25vh;
  }
  
  
  .dropButtonShopCart {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0vh 0vh 0vh 0vh;
    transition: all 0.3s;
  }
  
  
  #perro{
    background-color: #b85353;
  
  }
  
  .dropButtonShopCart:hover,
  .dropButtonShopCart:focus {
    background-color: #2980B9;
  }
  
  .dropdownShopCart {
    position: absolute;
    display: inline;
    margin: 0vh 0vh 0vh 0vh;
    padding: 0vh 0vh 0vh 158.3vh;
  }
  
  .dropdownShopCartContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: fit-content;
    min-width: 30vh;
    max-width: 30vh;
    margin: 0vh 0vh 0vh -5vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdownShopCartContent h3 {
    color: #588ae7;
    padding: 10px 0px;
    margin: 0px 0px 0px 0vh;
    text-decoration: none;
    display: block;
    font-size: 26px;
    cursor: default;
    background-color: #284f96;
    font-family: 'Josefin Sans', sans-serif;
    transition: color 0.3s, text-shadow 0.3s,background-color 0.3s;
  }

  
  .showShopCart {
    display: block;
  }
