#userImgMyAccount {
    width: 45vh;
    height: 45vh;
    margin: 30vh 0vh 10vh 80vh;
    border-radius: 50%;
    border: 2.5vh solid #272727;
    transition: all 0.8s;
    cursor: pointer;
}

#userImgMyAccount:hover {
    border: 1.5vh solid #272727;
    width: 50vh;
    height: 50vh;
}

.imageInput{
    display: inline;
    position: absolute;
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    border-radius: 5%;
    text-align: center;
    color: #9e9ffe;
    background-color: #34356c;
}


.imageButton{
    font-size: 3vh;
    display: inline;
    position: absolute;
    cursor: pointer;
    padding: 3vh;
    border-radius: 10%;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}


#perro {
    color: #b46d3b;
}

.textElementMyAccount {
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    color: #414394;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    margin: 15vh 0vh 0vh 0vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
}

.inputElementMyAccount {
    display: none;
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    color: #414394;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    margin: 15vh 0vh 0vh 60vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
}


.buttonElementMyAccount {
    font-size: 5vh;
    text-align: center;
    cursor: pointer;
    color: #75b576;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    padding: 0vh 5vh 0vh 5vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    background-color: #429e44;
}


.inputButtonsElementMyAccount {
    font-size: 5vh;
    cursor: pointer;
    color: #75b576;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
    padding: 0vh 5vh 0vh 5vh;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    opacity: 0;
    background-color: #429e44;
}


.popUpH3ElementAddressBook {
    display: inline;
    position: absolute;
    font-size: 3vh;
    color: #414394;
    font-family: 'Roboto', sans-serif;
    max-width: 53vh;
    transition: text-shadow 0.3s, color 0.3s;
}

.popUpInputElementAddressBook {
    display: none;
    position: absolute;
    font-size: 3vh;
    color: #9e9ffe;
    background-color: #414394;
    border-radius: 10%;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    font-family: 'Roboto', sans-serif;
    max-width: 53vh;
    transition: text-shadow 0.3s, color 0.3s;
}



.popUpButtonModifyElementAddressBook {
    display: inline;
    position: absolute;
    font-size: 3vh;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    max-width: 53vh;
    border-radius: 10%;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border: 2px solid #000000;
    background-color: #285e2d;
    color: #45b24e;
    transition: background-color 0.3s, color 0.3s;
}




.popUpButtonDeleteElementAddressBook {
    display: inline;
    position: absolute;
    font-size: 3vh;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    max-width: 53vh;
    border-radius: 10%;
    padding: 0.5vh 1vh 0.5vh 1vh;
    border: 2px solid #000000;
    background-color: #742929;
    color: #c43b3b;
    transition: background-color 0.3s, color 0.3s;

}

.popUpButtonChangePageElementAddressBook {
    display: inline;
    position: absolute;
    cursor: pointer;
    width: 17vh;
    height: 17vh;
    border-radius: 40%;
    background-color: #5178a1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color 0.3s, background-image 0.3s;


}

.popUpButtonActionsElementAddressBook {
    font-size: 3vh;
    display: inline;
    position: absolute;
    cursor: pointer;
    padding: 3vh;
    border-radius: 10%;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.popUpButtonCurrentPageElementAddressBook {
    display: inline;
    position: absolute;
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;
    padding: 3vh;
    border-radius: 40%;
    border: 2px solid #000000;
    background-color: #5178a1;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    color: #7ca9cf;
}


.containerConfirmationPopUp {
    display: inline;
    position: absolute;
    border: 6px solid #000000;
    padding: 7vh 10vh 10vh 10vh;
    border-radius: 5%;
    background-color: #414394;
    z-index: 2000;
}

.titleConfirmationPopUp {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    color: #9e9ffe;
}

.inputConfirmationPopUp {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    border-radius: 5%;
    text-align: center;
    color: #9e9ffe;
    background-color: #34356c;
}

.actionButtonsConfirmationPopUp {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 2px #000000, 2px 2px 2px #000000, 2px 2px 2px #000000, 2px -1px 2px #000000, -1px -1px 2px #000000, -1px 4px 0px #000000;
    border-radius: 5%;
    padding: 2vh;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}