

.deskFrame{
    display: inline;
    position: absolute;
    border: 20px solid #000000;
    height: 60vh;
    width: 65vh;
    cursor: pointer;
    transition: border 0.3s;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.deskFrame:hover{
    border: 15px solid #654ee6;
    transition: border 0.3s;
}