@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@500&display=swap');
/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/* 
font-family: 'Josefin Sans', sans-serif; 
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../../imgs/background-page.png');
  background-size:25vh;
}


.dropButtonBanner {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 0vh 0vh 0vh -1vh;
  transition: all 0.3s;
 
}




.dropButtonBanner:hover,
.dropButtonBanner:focus {
  background-color: #2980B9;
}

.dropdownBanner {
  position: absolute;
  display: inline;
  margin: 0vh 0vh 0vh 0vh;
  padding: 0vh 0vh 0vh 186.1vh;
  background-image: url('../../imgs/Delilah\ Banner.png');
  background-size: cover;
  background-position: 0vh -35vh;
  background-repeat: no-repeat;
}

.dropdownBannerContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownBannerContent a {
  color: #588ae7;
  padding: 20px 20px;
  margin: 0px 0px 0px -1vh;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  background-color: #284f96;
  font-family: 'Josefin Sans', sans-serif;
  transition: color 0.3s, background-color 0.5s;
}

.dropdownBannerContent a:hover {
  color: #284f96;
  background-color: #588ae7;
}

.showBanner {
  display: block;
}

.bannerOptions {
  display: inline;
  position: absolute;
  color: #588ae7;
  font-size: 35px;
  padding: 4px 20px 2px 20px;
  border: 2px solid #588ae7;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background: #284f96;
  transition: color 0.3s, background 1s;
  cursor: pointer;
}

.bannerOptions:hover {
  background: #588ae7;
  color: #284f96;
  border: 2px solid #284f96;
}


/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #7179ea #bdc4ff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }

  *::-webkit-scrollbar-track {
    background: #bdc4ff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #7179ea;
    border-radius: 10px;
    border: 3px solid #000000;
  }